<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Intern</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
<div class="container">
  <h2>Questions</h2>
  <form role="form" action = "http://localhost:5000/result" method = "POST">
    <div class="form-group">
      <label for="one"> Why would you want to work with a young energetic team?</label>
      <input type="txt" class="form-control" name="one" placeholder="Enter Ans">
    </div>
	<div class="form-group">
      <label for="two"> What is your definition of an ideal work place?</label>
      <input type="txt" class="form-control" name="two" placeholder="Enter Ans">
    </div>
    <div class="form-group">
      <label for="three"> Do you prefer front-end/back-end?</label>
      <input type="txt" class="form-control" name="three" placeholder="Enter Ans">
    </div>
    <div class="form-group">
      <label for="four"> What is the time duration that you will be available?</label>
      <input type="txt" class="form-control" name="four" placeholder="Enter Ans">
    </div>
    <div class="form-group">
      <label for="five">Going forward, what is the kind of company that you aspire to work at?</label>
      <input type="txt" class="form-control" name="five" placeholder="Enter Ans">
    </div>
    
    
    <button type="submit" class="btn btn-default" value="submit">Submit</button>
  </form>
</div>

</body>
 
</html>
