<!doctype html>
<html>
<head>
<style>
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:  #00bcd4;  
  }
  </style>
</head>
   <body>
	<h1 align="center">Results ::</h1>
      <table border = 1 align="center">
		<tr>
			<th>Question No:</th>
			<th>Answers</th>
			
		</tr>
         {% for key, value in result.iteritems() %}
         
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            
         {% endfor %}
      </table>
      
   </body>
</html>